[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
zappa = "==0.48.2"

[packages]
github-webhook = "==1.0.3"
flask = "==1.1.1"
heroku3 = "==3.4.0"

[requires]
python_version = "3.7"
